<div class="jumbotron">
  <h1>Contacts</h1>
  <p class="lead">Offline Website - Content should be displayed even if there is no connection</p>
  <p><a class="btn btn-lg btn-success" role="button">Big button</a></p>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <td><img src="{{image}}" alt="" style="max-width: 50px"></td>
        <th scope="row">
          <a href="/html/contact-info/{{id}}">{{name}}</a>
        </th>
      </tr>
    {{/each}}
  </tbody>
</table>
