<div class="jumbotron">
  <h1>Offline Website</h1>
  <p class="lead">Content being displayed even though there is no connection</p>
  <p><a class="btn btn-lg btn-success" role="button">Big button</a></p>
</div>
