<div class="card card-inverse" style="max-width: 20rem;">
  <div class="card-block">
      <h4 class="card-title">{{data.name}}</h4>

      <p class="card-text">
        <img src="{{data.image}}" alt="" />
        {{data.info}}
      </p>

      <!-- Links -->
      <a href="#" class="card-link">Send message</a>
      <a href="#" class="card-link">See user projects</a>
  </div>
</div>
